body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background: #111;
  color:#ddd
}
#contact {
  position: absolute;
  min-width: 100%;
  bottom: 10px;
}
#contact>a {
  color: #999;
}